
.lottery-popup-warpper {
  width: 100%;

  .link {
    background-color: rgba($color: $black, $alpha: .9);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    // height: px2rem(200px);
    padding: px2rem(30px) 0;
    color: $white;
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  
    .item {
      display: flex;
      width: 25%;
      margin-bottom: px2rem(10px);
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
  
      .chatroom-icon {
        width: px2rem(55px);
        height: px2rem(55px);
        background: url(../../assets/hall/icon_bg.png) no-repeat center / cover;
        border: px2rem(2px) solid $hall_lottery_icon_border;
        border-radius: px2rem(10px);
  
        img {
          width: 100%;
          height: 100%;
        }
      }
  
      .text {
        padding-top: px2rem(10px);
        font-size: px2rem(13px);
      }
    }
  }
}

