.hall {
  z-index: 1;
  padding-bottom: px2rem(50px);
  background: #7b3a1a url(../../assets/hall/hall_bg.png) no-repeat center / cover;

  @include prefixer-value(height, calc(100% - 3.125rem), webkit moz o ms);

  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: px2rem(70px);
    padding-left: px2rem(10px);
    background: url(../../assets/hall/header_bg.png) no-repeat left top/ 100% 100%;
    justify-content: space-around;
    align-items: center;

    .user-avatar {
      flex: 1;

      img {
        width: px2rem(45px);
        height: px2rem(45px);
        border-radius: px2rem(5px);
      }
    }

    .user-info {
      margin-left: px2rem(5px);
      line-height: px2rem(15px);
      flex: 6;
    }

    .down-btn {
      display: flex;
      height: px2rem(30px);
      line-height: px2rem(30px);
      text-align: center;
      background: rgba(255, 255, 255, 0.9);
      border-bottom-left-radius: px2rem(15px);
      border-top-left-radius: px2rem(15px);
      flex: 2;
      justify-content: center;
    }
  }

  .hall-scroll {
    position: absolute;
    top: px2rem(85px);
    right: 0;
    bottom: px2rem(50px);
    left: 0;
    z-index: 1;

    // .scroll-wrapper {
    //   height: 100%;
    //   overflow: auto;

    //   ul.scroll-inner {
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     align-items: center;

    //     .lottery-item {
    //       display: flex;
    //       width: 80%;
    //       height: px2rem(50px);
    //       margin-bottom: px2rem(10px);
    //       padding: px2rem(10px) 3%;
    //       flex-direction: row;
    //       justify-content: center;
    //       align-items: center;
    //       background: url(../../assets/hall/icon_bg.png) no-repeat center / cover;
    //       border-radius: px2rem(5px);

    //       .lottery-icon {
    //         width: px2rem(60px);
    //         height: px2rem(60px);

    //         img {
    //           width: 100%;
    //           height: 100%;
    //         }
    //       }

    //       .lottery-name {
    //         flex: 1;
    //         text-align: right;
    //         padding-left: px2rem(10px);
    //         padding-right: px2rem(10px);
    //         font-size: px2rem(14px);
    //       }
    //     }
    //   }
    // }

    .select-lottery{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      color: $white;

      li{
        display: flex;
        width: 25%;
        margin-bottom: px2rem(20px);
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
  
      .chatroom-icon {
        width: px2rem(55px);
        height: px2rem(55px);
        background: url(../../assets/hall/icon_bg.png) no-repeat center / cover;
        border: px2rem(2px) solid $hall_lottery_icon_border;
        border-radius: px2rem(10px);
  
        img {
          width: 100%;
          height: 100%;
        }
      }
  
      .text {
        padding-top: px2rem(10px);
        font-size: px2rem(13px);
      }
      }
    }
  }
}

.move-animation {
  animation: move 1s infinite;
}

@keyframes move {
  0% {
    @include prefixer-value(transform, translateY(px2rem(0)), webkit moz o ms);
  }

  25% {
    @include prefixer-value(transform, translateY(px2rem(1px)), webkit moz o ms);
  }

  50% {
    @include prefixer-value(transform, translateY(px2rem(2px)), webkit moz o ms);
  }

  75% {
    @include prefixer-value(transform, translateY(px2rem(1px)), webkit moz o ms);
  }

  100% {
    @include prefixer-value(transform, translateY(px2rem(0)), webkit moz o ms);
  }
}
