table {
  display: flex;
  margin-top: px2rem(10px);
  font-size: px2rem(8px);
  background-color: $table_bg;
  flex-direction: column;

  caption.title {
    @extend .center;
  }

  thead tr {
    display: flex;

    @extend .center;

    th:first-child {
      flex: 1;
    }

    th:nth-child(2) {
      flex: 3;
    }

    th:nth-child(3) {
      flex: 3;
    }

    th:nth-child(4) {
      flex: 2;
    }

    th:nth-child(5) {
      flex: 1;
    }

    th:nth-child(6) {
      flex: 2;
    }

    th:nth-child(7) {
      flex: 2;
    }
  }

  tbody tr {
    display: flex;

    @extend .center;

    td:first-child {
      flex: 1;
    }

    td:nth-child(2) {
      flex: 3;
    }

    td:nth-child(3) {
      flex: 3;
    }

    td:nth-child(4) {
      flex: 2;
    }

    td:nth-child(5) {
      flex: 1;
    }

    td:nth-child(6) {
      flex: 2;
    }

    td:nth-child(7) {
      flex: 2;
    }
  }

  tbody.no-data tr {
    height: px2rem(35px);
    line-height: px2rem(35px);

    td:last-child {
      width: unset;
    }
  }

  tfoot tr {
    display: flex;
    padding: px2rem(10px) 0;

    @extend .center;

    td {
      width: px2rem(50px);
      height: px2rem(25px);
      margin-left: px2rem(5px);
      font-size: px2rem(12px);
      line-height: px2rem(25px);
      background-color: #e8eaec;
      border-radius: px2rem(3px);
    }

    td.active {
      background-color: $red;
    }

    td.hidden {
      visibility: hidden;
    }
  }
}
