@import "@/styles/compass.scss";
@import "@/styles/color.scss";


.pc.msg-wrapper {
  display: flex;
  margin-top: 8px;
  margin-bottom: 2px;

  .user-avatar {
    min-width: 32px;
    display: flex;
    background: url(../../../assets/avatar/default.png) no-repeat;
    background-size: 32px auto;

    img {
      width: 32px;
      height: 32px;
      border-radius: 3px;
    }
  }

  .msg-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .time {
      margin-bottom: 6px;
      font-size: 10px;
      color: $chatroom_msg_time;
    }

    .text {
      display: flex;
      font-size: 12px;
      position: relative;
      align-items: center;
      border-radius: 4px;
      padding: 2px 10px;
      max-width: 350px;
      min-width: 40px;
      min-height: 30px;
      line-height: 1.5;
      word-break: break-word;
      text-align: left;

      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent transparent transparent;
        top: 4px;
      }
    }

  }
}
