@import "@/styles/color.scss";

.login.pc,
.register.pc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  padding: 0 32px;
  overflow: hidden;
  background: $login_bg;

  .scroll {
    overflow: hidden;
  }

  .info-box {
    position: absolute;
    right: 32px;
    left: 32px;
    z-index: 2;
  }

  header {
    display: none;
  }

  section {
    .inputs {
      .pwd {
        position: relative;
        width: 100%;

        .hint {
          position: absolute;
          top: -14px;
          left: 0;
          padding: 2px 4px;
          font-size: 8px;
          line-height: 8px;
          text-align: center;
          background-color: black;
          border-radius: 2px;
        }

        .hint::before {
          position: absolute;
          bottom: -8px;
          left: 50%;
          z-index: 10;
          border-color: black transparent transparent transparent;
          border-style: solid;
          border-width: 4px;
          content: "";
        }
      }

      /deep/.mint-cell {
        background: transparent;

        .mint-cell-wrapper {
          padding: 0;
          background-image: none;

          .mint-cell-value {
            overflow: hidden;
            background: $login_input_bg;
            border-radius: 5px;

            input {
              height: 40px;
              font-size: 14px;
              color: $login_input_text;
              text-indent: 10px;
              background: $login_input_bg;
            }

            .mint-field-state {
              margin-right: 5px;
              margin-left: 0;
            }

            ::-webkit-input-placeholder {
              color: $login_input_text;
            }

            ::-ms-input-placeholder {
              color: $login_input_text;
            }

            ::-moz-placeholder {
              color: $login_input_text;
            }
          }
        }
      }
    }

    .rember-user {
      display: flex;
      margin: 10px 0 20px;
      font-size: 12px;
      justify-content: center;
      align-items: center;

      span.icon-triangle {
        flex: 1;
      }

      span.text {
        flex: 8;
      }

      .switch {
        flex: 1;
      }

      /deep/.mint-switch-core {
        background-color: $login_submitbtn_bg;
        border-color: $login_input_bg;
      }
    }

    .btns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .submit-btn {
        margin-top: 10px;
        color: $white;
        background-color: $login_submitbtn_bg;
      }

      .text {
        height: 35px;
        font-size: 14px;
        line-height: 35px;
      }

      .back-btn {
        display: none;
      }

      /deep/.btn-box {
        height: 40px;
        font-size: 14px;
      }
    }
  }
}
